body {
  overflow: hidden;
  display: flex; }

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.row {
  width: 100vw; }

#osuButtonContainer {
  height: 100vh;
  width: 100vw;
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25vw; }

@media (min-width: 1200px) {
  #osuButtonContainer {
    font-size: 15px; } }

#buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

#allOptions {
  width: fit-content;
  margin: 0 -25em;
  padding: 0 25em;
  overflow: hidden;
  text-align: left; }

.noAnim {
  animation: none !important; }

@keyframes logo-pulse {
  0% {
    transform: scale(0.96); }
  85% {
    transform: scale(1); }
  100% {
    transform: scale(0.96); } }

@keyframes overlay-pulse {
  0% {
    transform: scale(1.01); }
  96% {
    transform: scale(1); }
  100% {
    transform: scale(1.01); } }

#logo-container {
  z-index: 1; }

img#logo {
  animation: logo-pulse 1s infinite;
  transition: height .2s;
  transition-timing-function: linear;
  border-radius: 17.5em;
  vertical-align: middle;
  cursor: pointer;
  height: 30em; }

img#logo:hover {
  height: 35em; }

img#logo-overlay {
  animation: overlay-pulse 1s infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 20%;
  pointer-events: none; }

.option {
  display: flex;
  height: 5.75em;
  margin-top: 0.5em;
  align-items: center;
  width: 0;
  max-width: 0px;
  transform: translateX(-75em);
  filter: opacity(0);
  transition: all 0.2s ease; }

.option.open {
  width: 25em;
  max-width: 100em;
  transform: translateX(-15em);
  filter: opacity(1); }

.option.hover {
  transform: translateX(-13em);
  filter: brightness(115%);
  cursor: pointer; }

img#discord {
  margin-top: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5em; }

#background {
  position: fixed;
  top: 0;
  z-index: -1; }

#triangles {
  filter: contrast(500%) brightness(250%);
  width: 100%;
  height: 100%;
  object-fit: cover; }

#waterloo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .4;
  filter: saturate(150%); }

.bgWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0; }

.optionImage {
  height: 100%; }

.wusa {
  position: absolute;
  width: 7vw;
  bottom: 0px;
  right: 20px; }
