body[type="home"] #main{
    margin-top: 0;
}

#osuButtonContainer {
    height: 100vh;
    width: 100vw;
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
    overflow: hidden;
    * {
        user-select: none;
    }
}

@media (min-width: 1200px) {
    #osuButtonContainer {
        font-size: 15px;
    }
}

#buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#optionsContainer {
    width: fit-content;
    margin: 0 -25em;
    padding: 0 25em;
    overflow: hidden;
    text-align: left;
}

.noAnim {
    animation: none !important;
}


@keyframes logo-pulse {
    0% {
        transform: scale(0.96);
    }

    85% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.96);
    }
}

@keyframes overlay-pulse {
    0% {
        transform: scale(1.01);
    }

    96% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.01);
    }
}

#logoContainer {
    z-index: 1;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    border-radius: 10000px;
    transition: transform 0.25s linear;
    will-change: transform;
    &:hover {
        transform: scale(1.166667) !important;
    }
}

#logo {
    animation: logo-pulse 1s infinite;
    border-radius: 10000px;
    cursor: pointer;
    height: 30em;
    width: 30em;
    view-transition-name: logo;
    box-sizing: border-box;
    background-color: #f1c814;
    > svg, div {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        border-radius: 10000px;
        overflow: hidden;
        box-sizing: border-box;
    }
    .outer-border {
        border: (16 / 15) * 1em solid #000;
        transition: border-width 0.25s linear;
    }
    .inner-border {
        border: (24 / 15) * 1em solid #fff;
        opacity: 0.375;
        transition: border-width 0.25s linear;
        will-change: border-width;
    }
    .logo-goose-icon {
        opacity: 0.15;
        transition: transform 0.25s linear, opacity 0.25s linear;
        will-change: transform, opacity;
    }
    .logo-text-icon {
        filter: drop-shadow(
            (4 / 15) * 1em
            (4 / 15) * 1em
            0
            #e6a20e99
        );
    }
    &:hover {
        .logo-goose-icon {
            transform: scale(1.05);
            opacity: 0.1;
        }
        .outer-border {
            border-width: (12 / 15) * 1em;
        }
        .inner-border {
            border-width: 0;
        }
    }
}


#optionsContainer {
    .option {
        display: flex;
        height: 5.75em;
        margin-top: 0.5em;
        align-items: center;
        width: 0;
        max-width: 0px;
        transform: translateX(-75em);
        filter: opacity(0);
        transition: all 0.2s ease;
        -webkit-tap-highlight-color: transparent;
    }
    &.open .option {
        width: 25em;
        max-width: 100em;
        transform: translateX(-15em);
        filter: opacity(1);
        &:hover {
            transform: translateX(-13em);
            filter: brightness(115%);
            cursor: pointer;
        }
    }
}
.optionImage {
    height: 100%;
}


@supports not (view-transition-name: test) {
    body[type="home"][from="page"] #buttonWrapper {
        animation: cookie-fade-in-fallback 0.3s ease;
    }
    
    @keyframes cookie-fade-in-fallback {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}