#card {
    view-transition-name: container;
    position: relative;
}

::view-transition-old(container) {
    animation: container-out 0.5s ease;
}
::view-transition-new(container) {
    animation: container-in 0.5s ease;
}

@keyframes container-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vw);
    }
}

@keyframes container-in {
    0% {
        transform: translateY(100vw);
    }
    100% {
        transform: translateY(0);
    }
}

.card-deco {
    position: absolute;
    left: 0;
    top: -300px;
    height: 300px;
    width: 100%;
    filter: drop-shadow(0px -4px 5px rgba(0, 0, 0, 0.3));

    div {
        position: absolute;
        inset: 0;
        pointer-events: none;

        &:nth-child(1) {
            background: #b3994c;
            clip-path: polygon(0 12%, 100% 85%, 100% 100%, 0 100%);
        }

        &:nth-child(2) {
            background: #d0c293;
            clip-path: polygon(0 90%, 100% 25%, 100% 100%, 0 100%);
        }

        &:nth-child(3) {
            background: #3e382a;
            clip-path: polygon(0 50%, 100% 90%, 100% 100%, 0 100%);
        }

        &:nth-child(4) {
            background: #4d4633;
            clip-path: polygon(0 75%, 100% 60%, 100% 100%, 0 100%);
        }
    }
}


div.members-section{
    margin-bottom: 1em;

    div.members {
        display: flex;
        flex-direction: column;
        row-gap: 1em;

        div.member {
            display: flex;
            flex-direction: row;
            column-gap: 1em;

            img.pfp {
                border: 2px solid var(--font-colour);
                border-radius: 4px;
                object-fit: cover;
                width: 4em;
                height: 4em;
            }
            div.member-details {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                // row-gap: 0.125em;
        
                span.member-username {
                    font-weight: bold;
                    font-size: 1.5em;
                    color: var(--accent-colour);
                }

                span.member-name {
                    font-size: 0.75em;
                    font-weight: normal;
                    color: var(--muted-font-colour);
                }
        
                span.member-program {
                    font-size: 0.75em;
                    color: var(--muted-font-colour);
                }
                
                span.member-blurb {
                    margin-top: 0.5rem;
                }
                
                span.member-socials {
                    color: var(--muted-font-colour);
                    display: flex;
                    flex-direction: row;
                    margin-top: 0.5rem;
                    column-gap: 1em;

                    span.member-social-link {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 0.25em;
                    }
                }

                div.member-socials-flex {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: end;
                }
            }
        }
        
        &.members-executives > div.member  {
            > img.pfp {
                width: 7em;
                height: 7em;
                border: 3px solid var(--font-colour);
            }
            > div.member-details > span.member-username { font-size: 2em; }
            // > span.member-program { font-size: unset; }
        }
    }
}

div.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21em, 2fr));
    gap: 1em;
    margin-bottom: 1em;

    a.event {
        img {
            aspect-ratio: 21 / 9;
            object-fit: cover;
            border-radius: 2px;
            width: 100%;

            &:hover {
                filter: brightness(0.75);
                transition-duration: 150ms;
            }
        }
    }
}

span.event-author {
    margin-top: -1em;
}


footer {
    padding: 1em 0;
}

a {
    color: var(--accent-colour);
    text-decoration: none;

    &:hover {
        color: var(--accent-light-colour);
        text-decoration: underline;
    }
}

img.event-image {
    width: 100%;
    aspect-ratio: 21 / 9;
    object-fit: cover;
}

h1.title-with-author {
    margin-bottom: 0;
}

svg {
//    fill: var(--font-colour);
    height: 1em;
    align-items: center;
}

hr {
    border-top: 2px solid var(--background-dark-colour);
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 100%;
    margin: 0;
}

p {
    line-height: 1.5em;
}
