.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.3s ease-in-out;
	view-transition-name: nav;
}

nav.nav {
    background: var(--navbar-colour);
    padding: 0 20px;
	height: var(--navbar-height);
    box-sizing: border-box;
}

#main.home {
    .nav {
        transform: translateY(-100%);
		img.logo {
			view-transition-name: unset;
		}
    }
}
html:has(#main.home) {
	&::view-transition-old(nav) {
		opacity: 1 !important;
	}
	&::view-transition-new(nav) {
		display: none;
	}
}
html:has(#main.page) {
	&::view-transition-old(nav) {
		display: none;
	}
	&::view-transition-new(nav) {
		opacity: 1 !important;
	}
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;

    a {
        color: unset;
        text-decoration: none;
    }

    svg {
        height: 1.5em;
    }

    div.nav-navigation {
        display: flex;
        flex-direction: row;
        column-gap: 0.75em;
        align-items: center;

        img.logo {
            width: 3em;
            height: 3em;
			view-transition-name: logo;

            &:hover {
                filter: brightness(0.8);
                transition-duration: 150ms;
            }
        }

        div.nav-navigation-text-links {
            display: flex;
            flex-direction: row;
            column-gap: 0.25em;
            
            a {
                border-radius: 4px;
                text-decoration: none;
                padding: 0.5em 1em;
    
                &:hover {
                    color: var(--accent-colour);
                    background-color: var(--background-dark-colour);
                    transition-duration: 150ms;
                }
            }
        }
    }

    div.nav-socials {
        display: flex;
        flex-direction: row;
        column-gap: 1em;

        svg:hover {
            fill: var(--accent-colour);
            transition-duration: 150ms;
        }
    }
}