<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ print .Title " | " .Site.Title }}</title>
    {{ partial "head" . }}
  </head>
  <body type="page">
    {{ partial "navbar" . }}
    <div id="main">
      <div id="card">
        <div class="card-deco">
          <div></div><div></div><div></div><div></div>
        </div>
        <main id="container">
          {{- block "main" . }}
          {{- end }}
          {{ partial "footer" . }}
        </main>
      </div>
    </div>
  </body>
</html>