<html>
  <head>
    {{ $style := resources.Get "sass/styles.scss" | resources.ToCSS }}
    <title>{{ print .Title " | " .Site.Title }}</title>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="icon" href="/images/logo.png" />
    {{ $router := resources.Get "js/router.js" }}
    {{ $router := $router | resources.Minify | resources.Fingerprint }}
    <script src="{{ $router.Permalink }}"></script>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="main" type="page">
      {{ partial "navbar" . }}
      <div id="card">
        <div class="card-deco">
          <div></div><div></div><div></div><div></div>
        </div>
        <main id="container">
          {{- block "main" . }}
          {{- end }}
        </main>
      </div>
      {{ partial "footer" . }}
    </div>
  </body>
</html>