<html>
  <head>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
    <title>{{ print .Title " | " .Site.Title }}</title>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="icon" href="/images/logo.png" />
  </head>
  <body>
    <br>
    <div class="container">
      {{ partial "navbar" }}
      <hr>
    </div>
    <div class="container">
      {{- block "main" . }}
      {{- end }}
    </div>
    <div class="container">
      <hr>
      {{ partial "footer" }}
    </div>
    <br>
  </body>
</html>