<nav class="nav">
    <div class="nav-navigation">
        <a href="/"><img class="logo" src="/images/logo.png" alt="osu!UWaterloo logo"></a>
        <div class="nav-navigation-text-links">
            <a href="/about">about</a>
            <a href="/members">members</a>
            <a href="/events">events</a>
        </div>
    </div>
    <div class="nav-socials">
        <a href="{{ $.Site.Params.urls.discord }}">{{ partial "svg" "discord" }}</a>
        <a href="{{ $.Site.Params.urls.youtube }}">{{ partial "svg" "youtube" }}</a>
        <a href="{{ $.Site.Params.urls.twitch }}">{{ partial "svg" "twitch" }}</a>
        <a href="{{ $.Site.Params.urls.email }}">{{ partial "svg" "mail" }}</a>
    </div>
</nav>
