<nav>
    <div class="nav-navigation">
        <a href="/"><img src="/images/logo.png" alt="osu!UWaterloo logo"></a>
        <div class="nav-navigation-text-links">
            <a href="/about">about</a>
            <a href="/members">members</a>
            <a href="/events">events</a>
        </div>
    </div>
    <div class="nav-socials">
        <a href="https://discord.gg/mfWqAFg">{{ partial "svg" "discord" }}</a>
        <a href="https://www.youtube.com/channel/UC_OgDGdaqTI6D_UPtMwCwIg">{{ partial "svg" "youtube" }}</a>
        <a href="https://www.twitch.tv/osuuwaterloo">{{ partial "svg" "twitch" }}</a>
        <a href="mailto:osu@clubs.wusa.ca">{{ partial "svg" "mail" }}</a>
    </div>
</nav>
