<html>
  <head>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
    {{ $cookieStyles := resources.Get "sass/cookie.scss" | resources.ToCSS }}
    <title>{{ print .Site.Title }}</title>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="stylesheet" href="{{ $cookieStyles.RelPermalink }}">
    <link rel="icon" href="/images/logo.png" />
  </head>
  <body>    
    <div id="osuButtonContainer">
      <div id="buttonWrapper">
        <div id="logoContainer">
            <img id="logo" src="/images/logo.png" draggable="false"></img>
        </div>
        <div id="optionsContainer">
          <div class="option">
            <a class="optionImage" href="/about">
              <img class="optionImage" src="images/menu-button-1.png"/>
            </a>
          </div>
          <div class="option">
            <a class="optionImage" href="/members">
              <img class="optionImage" src="images/menu-button-2.png"/>
            </a>
          </div>
          <div class="option">
            <a class="optionImage" href="/events">
              <img class="optionImage" src="images/menu-button-3.png"/>
            </a>
          </div>
          <div class="option">
            <a class="optionImage" href="https://discord.gg/mfWqAFg">
              <img class="optionImage" src="images/menu-button-4.png"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    const osuCookie = document.querySelector("#logoContainer");
    const optionsContainer = document.querySelector("#optionsContainer");

    osuCookie.addEventListener("click", () => {
        optionsContainer.classList.toggle("open");
    });
  </script>
</html>
