<html>
  <head>
    {{ $style := resources.Get "sass/styles.scss" | resources.ToCSS }}
    <title>{{ print .Site.Title }}</title>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="icon" href="/images/logo.png" />
    {{ $router := resources.Get "js/router.js" }}
    {{ $router := $router | resources.Minify | resources.Fingerprint }}
    <script src="{{ $router.Permalink }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
  </head>
  <body>
    <div id="main" type="home">
      {{ partial "navbar" . }}
      <div id="osuButtonContainer">
        <div id="buttonWrapper">
          <div id="logoContainer" onClick="document.querySelector('#optionsContainer').classList.toggle('open')">
              <img id="logo" src="/images/logo.png" draggable="false"></img>
          </div>
          <div id="optionsContainer">
            <div class="option">
              <a class="optionImage" href="/about">
                <img class="optionImage" src="images/menu-button-1.png"/>
              </a>
            </div>
            <div class="option">
              <a class="optionImage" href="/members">
                <img class="optionImage" src="images/menu-button-2.png"/>
              </a>
            </div>
            <div class="option">
              <a class="optionImage" href="/events">
                <img class="optionImage" src="images/menu-button-3.png"/>
              </a>
            </div>
            <div class="option">
              <a class="optionImage" href="{{ $.Site.Params.urls.discord }} ">
                <img class="optionImage" src="images/menu-button-4.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
